:root {
  --bg-primary: rgb(1,18,32);
  --surface-primary: #222C4F;
  --surface-hover: rgba(34, 44, 79, 1);
  --text-primary: #FFFFFF;
  --text-muted: rgba(255, 255, 255, 1);
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: var(--bg-primary); 
}

#root {
  min-height: 100vh;   /* fallback */
  min-height: 100dvh;  /* modern */
  background: var(--bg-primary);
}

body {
  margin: 0;
  font-family: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  color: var(--text-primary);
}

.icon {
  width: 18px;
  height: 18px;
  color: #FFFFFF;
  flex: 0 0 auto;
}