.row {
  display: grid;
  grid-template-columns: 1fr 44px;
  gap: 14px;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid rgba(255,255,255,0.06);
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main {
  width: 100%;
  display: grid;
  grid-template-columns: 137px 1fr;
  gap: 18px;
  border: none;
  background: transparent;
  color: inherit;
  text-align: left;
  cursor: pointer;
  padding: 0;
  align-items: start;
}

.poster {
  width: 137px;
  height: 137px;
  object-fit: cover;
  border-radius: 12px;
  background: rgba(255,255,255,0.06);
}

.meta {
  min-width: 0;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 10px;
}

.genres {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255,255,255,0.5);
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sub {
  font-size: 18px;
  color: rgba(255,255,255,1);
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.dot {
  opacity: 0.6;
}

.star {
  color: #F2C94C;
  font-size: 16px;
  line-height: 1;
}

.rating {
  color: rgba(255,255,255,1);
  font-weight: 600;
}

.heartBtn {
  justify-self: end;
  align-self: start;     /* ✅ به جای center */       /* ✅ فاین تیون مثل اسکرین‌شات */
  width: 44px;
  height: 44px;
  border: none;
  background: transparent;
  color: rgba(255,255,255,1);
  cursor: pointer;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.heartIcon {
  width: 24px;
  height: 24px;
  display: block;
}

.heartBtn:hover {
  color: rgba(114, 76, 249, 1)
}

.heartActive {
  color: rgba(114, 76, 249, 1)
}